

/* Side by side table style */
.side_by_side_table{
  max-width:760px; 
  margin-top: 50px;
}

.gt_table{
  font-family: Lato !important;
}

/* Responsive infographic style */
.infographic{
  max-width: 760px;
  margin: 0 auto;
  padding: 20px 0 20px 0;
}

.column{
  padding: 0 7px 0 7px;
}

.svg_style{
  display: block;
  text-align: center;
}

.logo_text_style{
  display: block;
  font-size: 1em;
}

/* For small screens, this CSS overrides the gtExtras 'float' CSS 
See https://github.com/jthomasmock/gtExtras/blob/master/R/two-column-layouts.R */

@media screen and (max-width: 550px) {
  .side_by_side_table div{
    text-align: center;
  }
  
  .side_by_side_table div div{
    display:block; 
    float:none !important;
  }

  .logo_text_style{
    display: block;
    font-size: 0.8em;
  }
}

/* infographic style */

.infographic{
  text-align: center;
}

.infographic img{
  max-width: 80%;
}

/* iframe style */
iframe {max-width: 100%;}

/* Global Formats */

body {
  /*max-width: 760px;*/
}

.container-fluid {
font-family: Lato;
padding: 0 0 0 0 ;
font-size: 16px;
line-height: 24px;
color: #000000;
}

.main-container {
font-family: Lato;
max-width: 760px;
margin: 2em auto 5em auto;
font-size: 16px;
line-height: 24px;
color: #000000;
}

a {
  color: #1696d2;
  text-decoration: none;
}

/* Title Styles */
h1 {
font: 700 48px/3rem Lato, sans-serif;
line-height: 48px;
margin: 0 0 .5em;
}

h2 {
font: 700 36px/2.25rem Lato, sans-serif;
color: #000000;
}

h3 {
font: 200 30px/2rem Lato, sans-serif;
color: #000000;
text-transform: uppercase;
}

h4 {
font: 700 24px/1.875rem Lato, sans-serif;
font-style: normal;
font-variant-ligatures: normal;
font-variant-caps: normal;
font-variant-numeric: normal;
font-variant-east-asian: normal;
font-stretch: normal;
font-size: 24px;
line-height: 30px;
margin: 2em 0 .1em;
}

/* Paragraph styles */ 
p {
  font: 1.25rem Lato, sans-serif;
  margin: 0 0 8px 0;
  line-height: 1.625;
  color: #353535;
}


/*
p.wr-body{
  font: 18px Georgia, serif;
  line-height: 28px;
}
*/

b{
  font-weight: 900;
}

/*
b.wr-caption-pop{
  color: #00315C; 
}
*/


/* Image styles */
img {
padding: 36px 0 32px 0;
max-width: 100%;
}



.navbar {
background-color: #1696d2;
color: #ffffff;
font-weight: bold;
}

.navbar-default .navbar-brand {
color: #FFFFFF;
}

.navbar-default .navbar-nav>li>a {
color: #FFFFFF;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
color: #1696d2;
background-color: #FFFFFF;
}

/* List styles */
li {
font-size: 16px;
}


/* Link styles */
.a {
color: #1696d2;
}

/* Header image formatting */
#header {
padding-top: 12px;
}

/* Legend Formatting */
.list-group-item.active {
background-color: #1696d2;
border-color: #1696d2;
}

.list-group-item.active:hover {
background-color: #000000;
border-color: #000000;
}

.tocify {
border-radius: 0;
}

/* Button Formatting */
.btn {
border-radius: 0;
}

/* Special styles */
#date {
text-align: center;
  font: italic 14px Georgia,serif;
  color: #666;
  margin-bottom: 2em;
  margin-top: 2em;


}

/* Horizontal rule */
hr {
border: 1px solid #d2d2d2;
width: 685px;
margin-top: 35px;
margin-bottom: 35px;
}

.source{
  font-size: 0.875rem;
  font-family: Lato, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 400;
  line-height: 1.5;
  text-transform: none;
  --text-opacity: 1;
  color: rgba(0, 0, 0, var(--text-opacity));
  display: block;
  margin-top: 1em;
}

/* For demo page only */

.h-flex-example{
  font-weight: 700;
  border-bottom: 1px solid #FF00E5;
  padding: 0em 0 0em 0;
  margin: 4em 0 4em 0;
}

.h-flex-example-title{
  font-size: .9em;
  font-style: italic;
  color: rgb(255, 0, 229);
  padding-top: 3em;
}
